:root {
    --cor0: rgb(247, 231, 231);
    --cor1: rgb(201, 193, 193);
    --cor2: rgba(138, 127, 127, 0.801);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor0);
}
header {
    background-color: var(--cor1);
    height: 80px;
    left: 0px;
    right: 0px;
}

header nav {
    text-align: right;
    width: 90%;

}

header h3 {
    text-align: left;
    display: flex;
}

header nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



header nav button {
    outline: none;
    border: none;
    background-color: white;
    margin-left: -25px;
}

header nav input {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 15px;

}

main {
    margin: auto;
    width: 90%;
    display: block;
}

main > .news-col {
    display: inline-flex;
    padding: 30px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;

}
main > .news-col > .news-card {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 100%;
    padding: 15px 15px 30px 15px;
    margin: 20px;
    border-radius: 7px;
     
}
main > .news-col > .news-card:hover {
    transform: scale(1.1); 
    transition: 0.6s;
    box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.384);
}


.news-col .news-card p{
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.news-col a{
    margin: 10px 70px 0px 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    color: black;
    padding: 9px 50px;
    width: 30px;
    background-color: var(--cor0);
}

.news-col a:hover{
    text-decoration: none;
    color: white;
    background-color: var(--cor1);
    transition: 0.5s;
    box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.322);
}

footer{
    background-color: var(--cor2);
    text-align: center;
    padding: 25px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;

}